.applicants {
    overflow: hidden;
    overflow-x: auto;
    table {
        min-width: 825px;
        margin-left: -5px;
        border-collapse: collapse; 
        tr{
            text-align: left;
            th {
                font-weight: normal;
                font-size: 14px;
                color: #b2b2b2;
            }
            td {
                position: relative;
                padding-bottom: 5px;
                padding-top: 6px;
                border-bottom: 1px solid #e5e5e5;
                .icon {
                    font-size: 21px;
                    margin-top: 4px;
                }
            }
            td:first-child {
                width: 22px;
            }
            &.applicants__man {
                color: #1c5fba;
            }
            &.applicants__woman {
                color: #c709a5;
            }
            &:last-child {
                td {
                    border: none;
                }
            }
        }
    }
}