.docsLoad {
    text-align: center;
    &__item {
        border: solid 2px #ef4900;
        padding: 17px 0;
        margin-bottom: 20px;
    }
    &__name {
        font-size: 18px;
        font-weight: 600;
        margin-left: 16px;
        text-align: left;
        @include media-breakpoint-down(xs){
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    &__line {
        border-bottom: solid 2px #e6e6e6;
        padding: 13px 29px 13px 24px;
        display: flex;
        align-items: start;
        @include media-breakpoint-down(md){
            display: block;
        }
        @include media-breakpoint-down(xs){
            padding-left: 5px;
            padding-right: 5px;
        }
        &:last-child {
            border: none;
            padding-bottom: 0;
        }
        &__title {
            text-align: right;
            margin: 0 31px 0 0;
            width: 285px;
            line-height: 20px;
            @include media-breakpoint-down(md){
                text-align: center;
                margin-right: 0;
                width: 100%;
            }
        }
        &__doc {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            text-align: left;
            @include media-breakpoint-down(md){
                margin-top: 16px;
                justify-content: center;
            }
            &__el {
                line-height: 0;
                @include media-breakpoint-down(xs){
                    line-height: 16px;
                }
                .icon {
                    margin-right: 13px;
                }
            }
            &__load {
                margin-right: 12px;
                min-width: 156px;
                @include media-breakpoint-down(md){
                    min-width: auto;
                }
                &__link {
                    font-size: 14px;
                    text-decoration: none;
                    line-height: 17px;
                    height: auto;
                    line-height: auto;
                    cursor: pointer;
                    &-dp {
                        color: #67d6aa;
                        border-bottom: 1px solid #67d6aa;
                    }
                    &-bp {
                        color: $primary-color;
                        border-bottom: 1px solid $primary-color;
                    }
                }
                &__btn {
                    padding-right: 23px;
                    padding-left: 23px;
                    @include media-breakpoint-down(xs){
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }
            .buttonAddRemove {
                margin: 0;
                &__icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
            &__nf {
                font-size: 12px;
                color: #b3b3b3;
            }
        }
    }
    &__instr {
        text-align: center;
        margin: auto;

        max-width: 580px;
    }
    &__btn {
        margin-top: 17px;
        margin-bottom: 18px;
        font-weight: 500;
        padding: 8px 21px;
    }
}