.includes{
    display: flex;
    .icon {
        margin-right: 17px;
        color: #67d6aa;
        font-size: 21px;
    } 
    &__text {
        margin: 0;
        .txt--blue, .txt--purple {
            font-weight: bold;
        }
    }
}