.orderForm {
    padding-right: 171px;
    position: relative;

    &__block {
        margin-bottom: 20px;

        &-inner {
            margin-top: 20px;

            &:hover {
                margin-top: 20px;
            }
        }
    }

    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    &__text {
        margin: 0 27px 0 0;
        text-align: right;

        span {
            font-size: 12px;
        }
    }

    &__input,
    &__select {
        display: block;
        font-size: 16px;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        padding: 11px;
        width: 440px;
        height: 44px;
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
        box-shadow: inset 0 2px 4.8px 0.3px rgba(34, 34, 34, .13);
        border-radius: 5px;
        appearance: none;
        background-color: #fff;
        outline: none;
        transition: border .2s ease-in-out;
        flex-shrink: 0;

        &:focus {
            border-color: #ef4900;
        }

        &.datepicker,
        &.select-style {
            &:hover {
                border-color: #e6e6e6;
            }

            &:focus,
            &.picker__input--active {
                border-color: #ef4900;
            }
        }

        &-inner {
            width: 284px;
        }
    }

    &__info {
        position: relative;
        margin-top: 7px;
        margin-left: 227px;
        font-size: 12px;

        &__hint {
            margin: 0;
            color: $neutral-hint;
            padding-bottom: 3px;
        }

        &__error {
            position: absolute;
            left: 0;
            bottom: -16px;
            color: $primary-color;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 440px;

        .orderForm__input {
            width: 210px;
        }

        &-inner {
            width: 284px;

            .orderForm__input {
                width: 126px;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        cursor: pointer;
        &-delete {
            position: absolute;
            right: 13px;
            top: 5px;
        }
        &-add {
            justify-content: flex-end;
            margin-top: 23px;
            margin-right: 7px;
        }
        &__icon {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            &-delete {
                background-image: url('../../img/delete-form.png');
            }
            &-add {
                background-image: url('../../img/add-form.png');
            }
        }
        &__text {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
        }
    }
    &__submit {
        width: 244px;
    }
    &__wrapper__submit {
        text-align: center;
        margin-top: 25px;
        &.margin-bottom {
            margin-bottom: 57px;
        }
    }
}
