.popovers {
    margin-top: 15px;
    .popover__item {
        &__text {
            display: inline-block;
            position: relative;
            color: #67d6aa;
            font-weight: bold;
            margin-top: 8px;
            margin-bottom: 0;
            max-width: 90%;
        }
        &__icon {
            position: absolute;
            right: -21px;
            top: 4px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-left: 5px;
            background: #c9c9c9;
            line-height: 16px;
            text-align: center;
            font-style: normal;
            color: #fff;
            font-weight: normal;
            font-size: 12px;
            cursor: pointer;
            border: none;
            transition: background-color .2s ease;
            user-select: none;
            &:hover {
                background-color: #ef4900;
            }
            &:focus {
                outline: none;
            }
        }
    }
}
.popover-content {
    display: none;
}
.popover {
    z-index: 1060;
    display: block;
    max-width: 460px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 25px;

    .popover-body {
        color: #000;
    }
    &.bs-popover-auto[x-placement^=top] .arrow, &.bs-popover-top .arrow {
        bottom: calc((.5rem + 1px) * -1);
    }
    &.bs-popover-auto[x-placement^=bottom] .arrow, &.bs-popover-bottom .arrow {
        top: calc((.5rem + 1px) * -1);
    }
    
    &.bs-popover-right>.arrow {
        left: calc(-.5rem - 1px);
        width: .5rem;
        height: 1rem;
        margin: .3rem 0;
    }
    
    &.bs-popover-auto[x-placement^=bottom], &.bs-popover-bottom {
        margin-top: .5rem;
    }
    &.bs-popover-auto[x-placement^=bottom]>.arrow:after, &.bs-popover-bottom>.arrow:after {
        top: 1px;
        border-width: 0 .5rem .5rem;
        border-bottom-color: #fff;
    }
    &.bs-popover-auto[x-placement^=top], &.bs-popover-top {
        margin-bottom: .5rem;
    }
    &.bs-popover-auto[x-placement^=top]>.arrow:after, &.bs-popover-top>.arrow:after {
        bottom: 1px;
        border-width: .5rem .5rem 0;
        border-top-color: #fff;
    }
    &.bs-popover-auto[x-placement^=left], &.bs-popover-left {
        margin-right: .5rem;
    }
    &.bs-popover-auto[x-placement^=right], &.bs-popover-right {
        margin-left: .5rem;
    }

    &.bs-popover-auto[x-placement^=right]>.arrow:before, &.bs-popover-right>.arrow:before {
        left: 0;
        border-width: .5rem .5rem .5rem 0;
        border-right-color: rgba(0,0,0,.25);
    }
    &.bs-popover-auto[x-placement^=right]>.arrow, &.bs-popover-right>.arrow {
        left: calc(-.5rem - 1px);
        width: .5rem;
        height: 1rem;
        margin: .3rem 0;
    }
    &.bs-popover-auto[x-placement^=right]>.arrow:after, &.bs-popover-right>.arrow:after {
        left: 1px;
        border-width: .5rem .5rem .5rem 0;
        border-right-color: #fff;
    }

    &.bs-popover-auto[x-placement^=right]>.arrow:before, &.bs-popover-right>.arrow:before {
        left: 0;
        border-width: .5rem .5rem .5rem 0;
        border-right-color: rgba(0,0,0,.25);
    }
    &.bs-popover-auto[x-placement^=left] .arrow:before, &.bs-popover-left .arrow:before {
        right: 0;
        border-left-color: rgba(0,0,0,.25);
        border-width: .5rem 0 .5rem .5rem;
    }
    &.bs-popover-auto[x-placement^=top]>.arrow:before, &.bs-popover-top>.arrow:before {
        bottom: 0;
        border-width: .5rem .5rem 0;
        border-top-color: rgba(0,0,0,.25);
    }
    &.bs-popover-auto[x-placement^=bottom]>.arrow:before, &.bs-popover-bottom>.arrow:before {
        top: 0;
        border-width: 0 .5rem .5rem;
        border-bottom-color: rgba(0,0,0,.25);
    }
    &.bs-popover-right>.arrow:before {
        left: 0;
        border-width: .5rem .5rem .5rem 0;
        border-right-color: rgba(0,0,0,.25);
    }
    &.bs-popover-right>.arrow:after {
        left: 1px;
        border-width: .5rem .5rem .5rem 0;
        border-right-color: #fff;
    }
    &.bs-popover-auto[x-placement^=bottom]>.arrow, &.bs-popover-bottom>.arrow {
        top: calc(-.5rem - 1px);
    }
    &.bs-popover-auto[x-placement^=top]>.arrow, &.bs-popover-top>.arrow {
        bottom: calc(-.5rem - 1px);
    }

    &.bs-popover-left .arrow::before {
        right: 0;
        border-left-color: rgba(0,0,0,.25);
        border-width: .5rem 0 .5rem .5rem;
    }
    &.bs-popover-left .arrow::after {
        right: 1px;
        border-left-color: #fff;
        border-width: .5rem 0 .5rem .5rem;
    }
    .card-text {
        text-align: left;
        margin-bottom: 25px;
        font-size: 14px;
    }
    .btn {
        user-select: none;
    }
    .arrow {
        position: absolute;
        display: block;
        width: 1rem;
        height: .5rem;
        margin: 0 .3rem;
        &:before,&:after {
            position: absolute;
            display: block;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }
    h3 {
        display: none;
    }
}



