.progress {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0;

    &__step {
        text-align: center;
        position: relative;
        width: 100px;
        margin-right: 20px;

        &::after {
            content: '';
            top: 25px;
            right: -37px;
            position: absolute;
            width: 56px;
            border-bottom: 2px solid #dadada;
        }

        &:last-child {
            margin-right: 0;

            &::after {
                display: none;
            }
        }
        &-current {
            .progress__icon {
                border-color: #67d6aa;
            }
        }
        &-completed {
            .progress__icon {
                border-color: #67d6aa;
                background-color: #67d6aa;
                background-image: url('../../img/done-tick-done.png');
            }
            &::after {
                border-color: #67d6aa;
            }
        }

        @include media-breakpoint-only(xl) {
            &:nth-child(6) {
                &::after {
                    display: none;
                }
            }
            &:nth-child(7),&:nth-child(8) {
                margin-top: 30px;
            }
        }
        @include media-breakpoint-only(md) {
            width: 96px;
            &::after {
                width: 40px;
                right: -30px;
            }
            &:nth-child(3) {
                &::after {
                    display: none;
                }
            }
            &:nth-child(5) {
                &::after {
                    display: block;
                }
            }
            &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8) {
                margin-top: 30px;
            }
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            .progress__icon {
                margin-right: 20px;
            }
            .progress__text {
                text-align: left;
                margin-top: 0;
            }
            &::after {
                display: inline-block;
                left: 52px;
                bottom: -50px;
                width: 18px;
                transform: rotate(90deg);
            }
        }
    }

    &__icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #dadada;
        background-color: #fff;
        background-image: url('../../img/done-tick.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        flex-shrink: 0;
    }

    &__text {
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: #303030;
        margin-top: 14px;
    }
}

@include media-breakpoint-only(md) {
    .flex-break {
        display: block;
    }
    .content__wrapper.padding-sides-lg {
        padding-right: 30px;
        padding-left: 30px;
    }
}
