.stars {
    display: flex;
    margin-bottom: 1.3em;

    .icon {
      margin-right: 4px;
      color: #d0d0d0;
      font-size: 21px;
      
      &.color {
        color: #ffb600;
      }
    }
  }