.docsLoad
    .docsLoad__item
        p.docsLoad__name Михаил Андреевич Онопко
        .docsLoad__line
            p.docsLoad__line__title Паспорт <br/>гражданский
            .docsLoad__line__docs
                .docsLoad__line__doc 
                    .docsLoad__line__doc__load
                        a.docsLoad__line__doc__load__link.docsLoad__line__doc__load__link-dp Doc_scan.jpg
                    .docsLoad__line__doc__el 
                        i.icon.icon__success
                        i.icon.icon__bin
        .docsLoad__line
            p.docsLoad__line__title Паспорт <br/>заграничный
            .docsLoad__line__docs
                .docsLoad__line__doc 
                    .docsLoad__line__doc__load
                        a.docsLoad__line__doc__load__link.docsLoad__line__doc__load__link-bp Doc_scan.jpg
                    .docsLoad__line__doc__el 
                        i.icon.icon__require
        .docsLoad__line
            p.docsLoad__line__title Сканы всех документов, <br/>подтверждающих образование
            .docsLoad__line__docs
                .docsLoad__line__doc 
                    .docsLoad__line__doc__load
                        button.docsLoad__line__doc__load__btn.btn.btn--round.btn--transparent Выбрать файл
                    .docsLoad__line__doc__el 
                        p.docsLoad__line__doc__nf Файл не быбран
                .docsLoad__line__doc 
                    .buttonAddRemove.buttonAddRemove-add
                        i.buttonAddRemove__icon.buttonAddRemove__icon-add
                        p.buttonAddRemove__text Добавить ещё
        .docsLoad__line
            p.docsLoad__line__title Сканы всех сертификатов, <br/>при наличии
            .docsLoad__line__docs
                .docsLoad__line__doc 
                    .docsLoad__line__doc__load
                        button.docsLoad__line__doc__load__btn.btn.btn--round.btn--transparent Выбрать файл
                    .docsLoad__line__doc__el 
                        p.docsLoad__line__doc__nf Файл не быбран
                .docsLoad__line__doc 
                    .docsLoad__line__doc__load
                        button.docsLoad__line__doc__load__btn.btn.btn--round.btn--transparent Выбрать файл
                    .docsLoad__line__doc__el 
                        p.docsLoad__line__doc__nf Файл не быбран
                .docsLoad__line__doc 
                    .buttonAddRemove.buttonAddRemove-add
                        i.buttonAddRemove__icon.buttonAddRemove__icon-add
                        p.buttonAddRemove__text Добавить ещё
        .docsLoad__line
            p.docsLoad__line__title Дополнительное <br/>поле
            .docsLoad__line__docs
                .docsLoad__line__doc 
                    .docsLoad__line__doc__load
                        button.docsLoad__line__doc__load__btn.btn.btn--round.btn--transparent Выбрать файл
                    .docsLoad__line__doc__el 
                        p.docsLoad__line__doc__nf Файл не быбран
    p.docsLoad__instr Загрузите все необходимые документы по всем участникам поездки, после чего нажмите кнопку
    button.docsLoad__btn.btn.btn--round Отправить документы на обработку