footer.footer
  .container
    .footer__row.row
      .col-md-3.col-lg-2
        span.footer__title: a(href="#") Обучение
        ul.footer__list
          li: a(href="#") Онлайн обучение
          li: a(href="#") Оффлайн обучение
          li: a(href="#") Обучение за рубежом

      .col-md-3.col-lg-2.col-xxl-3
        span.footer__title: a(href="#") Онлайн-платформа

      .col-md-3.col-lg-2
        span.footer__title: a(href="#") О Lingua Guru
        ul.footer__list
          li: a(href="#") О Lingua Guru
          li: a(href="#") Отзывы
          li: a(href="#") Карьера в Lingua Guru
          li: a(href="#") Реквизиты

      .col-md-3.col-lg-2
        span.footer__title: a(href="#") Реквизиты
        span.footer__title: a(href="#") Контакты

      .footer__contacts.col-lg-4.col-xxl-3
        .footer__contact
          i.icon.icon-phone
          a(href="tel:88129200914") 8 (812) 9200-914
          strong Заказать звонок
        .footer__contact
          i.icon.icon-mail
          a(href="mailto:info@lingua-guru.ru") info@lingua-guru.ru
        .footer__contact
          i.icon.icon-location
          span Санкт-Петербург, пр. Королёва 7

    .footer__social
      ul.socbtns
        li.vk
          a(href='https://vk.com/lingua_guru', target='_blank', rel='nofollow', title='Вконтакте')
            i.icon.icon-vk
        li.facebook
          a(href='https://ru-ru.facebook.com/linguaguruspb/', target='_blank', rel='nofollow', title='Facebook')
            i.icon.icon-facebook
        li.instagram
          a(href='https://www.instagram.com/linguaguru/', target='_blank', rel='nofollow', title='Instagram')
            i.icon.icon-instagram
        li.telegram
          a(href='https://www.telegram.org/linguaguru', target='_blank', rel='nofollow', title='Telegram')
            i.icon.icon-telegram
        li.ytb
          a(href='https://www.youtube.com/channel/UC4BaLPDn1kqYYO9ir6l5LBw', target='_blank', rel='nofollow', title='YouTube')
            i.icon.icon-youtube

    .footer__bottom.row.justify-content-between
      .col-md-6
        p © 2019 Все права защищены.

      .col-md-auto
        a(href="#") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ

  .hide
    #callback-popup-form.b-popup.pForm
      form.pForm__body.fw.webform(method="post" action="")
        .pForm__header
          span.pForm__title Заказать звонок
          p.pForm__subtitle Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...

        .form-group
          input.form-control(type="text" placeholder="Имя")

        .form-group
          input.form-control(type="tel" placeholder="Телефон")

        .form-group
          input.form-control(type="mail" placeholder="E-mail")

        .form-group
          label.form-agree-label
            input(type="checkbox" name="form-agree-checkbox" value="on")
            | Я согласен с правилами сервиса и даю согласие на обработку моих персональных данных

        .form-group
          button.btn.btn--round(type="submit") Отправить

    #help-popup-form.b-popup.pForm
      form.pForm__body.fw.webform(method="post" action="")
        .pForm__header
          span.pForm__title Помощь в оформлении
          p.pForm__subtitle Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...

        .form-group
          input.form-control(type="text" placeholder="Имя")

        .form-group
          input.form-control(type="tel" placeholder="Телефон")

        .form-group
          input.form-control(type="mail" placeholder="E-mail")

        .form-group
          label.form-agree-label
            input(type="checkbox" name="form-agree-checkbox" value="on")
            | Я согласен с правилами сервиса и даю согласие на обработку моих персональных данных

        .form-group
          button.btn.btn--round(type="submit") Отправить

    #getwork-popup-form.b-popup.pForm
      form.pForm__body.fw.webform(method="post" action="")
        .pForm__header
          span.pForm__title Как получить работу?
          p.pForm__subtitle Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...

        .pForm__text
          ul
            li Владение английским языком
            li Вкусно готовить
            li Делать все за других
            li Спать до обеда, желательно до вечера

    #certificate-popup-form.b-popup.pForm
      form.pForm__body.fw.webform(method="post" action="")
        .pForm__header
          span.pForm__title Оставьте заявку на получение сертификата
          p.pForm__subtitle С вами свяжеться наш менеджер

        .form-group
          label.form-input-label 
              span.form-input-label-txt Ваше имя
              input.form-control(type="text" name="name")
        .form-group
          label.form-input-label 
              span.form-input-label-txt E-mail
              input.form-control(type="mail" name="mail")
        .form-group
          label.form-input-label 
              span.form-input-label-txt Телефон
              input.form-control(type="tel" name="phone")

        .form-group
          button.btn.btn--square.btn--big(type="submit") Отправить