.managerComments 
    .managerComments__item
        .managerComments__item__left
            time.managerComments__item__data 21.10.2019 12:11
            p.managerComments__item__name Вячеслав
        p.managerComments__item__text Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки.
