.myDocs
    .myDocs__items
        .myDocs__item
            p.myDocs__item__name Михаил Андреевич Онопко
            .docForLoad 
                a Название_док.pdf 
            .docForLoad 
                a Название_док.pdf 
        .myDocs__item
            p.myDocs__item__name Михаил Андреевич Онопко
            .docForLoad 
                a Название_док.pdf 
            .docForLoad 
                a Название_док.pdf 
    button.myDocs__btn.btn.btn--round.btn--md Изменить документы