form.orderForm
    .buttonAddRemove.buttonAddRemove-delete.buttonAddRemove-delete-orderForm
        i.buttonAddRemove__icon.buttonAddRemove__icon-delete
        p.buttonAddRemove__text Удалить
    .orderForm__block
        label.orderForm__label 
            p.orderForm__text ФИО
            input.orderForm__input(type="text" name="")
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Дата рождения
            .form-group--date
                input.orderForm__input.datepicker(type="text" name="")
                i.icon.icon-calendar
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Пол
            input.orderForm__input(type="text" name="")
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Гражданство
            input.orderForm__input(type="text" name="")
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Загран паспорт
            .orderForm__wrapper
                input.orderForm__input(type="text" name="")
                .form-group--date
                    input.orderForm__input.datepicker(type="text" placeholder="10/10/1990" name="")
                    i.icon.icon-calendar
        .orderForm__info
            p.orderForm__info__hint Номер загран. паспорта, срок действия
            p.orderForm__info__error Ошибка ввода
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Уровень образования
            select.orderForm__select.select-style(name="")
                option Среднее специальное
                option Высшее
                option ...
        .orderForm__block.orderForm__block-inner
            label.orderForm__label.orderForm__label-inner
                p.orderForm__text Специальность
                input.orderForm__input.orderForm__input-inner(type="text" name="")
        .orderForm__block.orderForm__block-inner
            label.orderForm__label.orderForm__label-inner
                p.orderForm__text Учебное <br/>заведение
                input.orderForm__input.orderForm__input-inner(type="text" name="")
        .orderForm__block.orderForm__block-inner
            label.orderForm__label.orderForm__label-inner
                p.orderForm__text Годы <br/>обучения
                .orderForm__wrapper.orderForm__wrapper-inner
                    .form-group--date
                        input.orderForm__input.datepicker(type="text" placeholder="1990" name="")
                        i.icon.icon-calendar
                    .form-group--date
                        input.orderForm__input.datepicker(type="text" placeholder="1990" name="")
                        i.icon.icon-calendar

    .orderForm__block
        label.orderForm__label
            p.orderForm__text Уровень языка
            select.orderForm__select.select-style(name="")
                option ...
                option ...
                option ...
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Опыт работы <br/>
                span (сфера, должность)
            input.orderForm__input(type="text" name="")
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Наличие сертификатов
            input.orderForm__input(type="text" name="")
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Желаемая сфера
            input.orderForm__input(type="text" name="")
    .orderForm__block
        label.orderForm__label
            p.orderForm__text Тип работы
            select.orderForm__select.select-style(name="")
                option ...
                option ...
                option ...