.popovers
        .popover__item
            p.popover__item__text Уровень языка intermediate
                i.popover__item__icon.fade.bs-popover-right.show(id="popover_1" data-trigger="focus" tabindex="0" data-toggle="popover")  ?
            #content-popover_1.popover-content
                .card-body
                    .card-text Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.Хорошо подобраны учебные пособия - упражнения на самые разные. навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.
                    a.btn.btn--round Получить сертификат
        .popover__item
            p.popover__item__text PHP-специалист
                i.popover__item__icon.fade.bs-popover-right.show(id="popover_2" data-trigger="focus" tabindex="0" data-toggle="popover")  ?
            #content-popover_2.popover-content
                .card-body
                    .card-text Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.Хорошо подобраны учебные пособия - упражнения на самые разные. навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.
                    a.btn.btn--round Получить сертификат
        .popover__item
            p.popover__item__text G-MAT
                i.popover__item__icon.fade.bs-popover-right.show(id="popover_3" data-trigger="focus" tabindex="0" data-toggle="popover")  ?
            #content-popover_3.popover-content
                .card-body
                    .card-text Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.Хорошо подобраны учебные пособия - упражнения на самые разные. навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.
                    a.btn.btn--round Получить сертификат
        .popover__item
            p.popover__item__text VMware-специалист
                i.popover__item__icon.fade.bs-popover-right.show(id="popover_4" data-trigger="focus" tabindex="0" data-toggle="popover")  ?
            #content-popover_4.popover-content
                .card-body
                    .card-text Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.Хорошо подобраны учебные пособия - упражнения на самые разные. навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые.
                    a.btn.btn--round Получить сертификат
        
        
