.prepayment 
    .prepayment__info
        .prepayment__info__item.prepayment__info__item 
            p.prepayment__info__item__title Стоимость заказа
            p.prepayment__info__item__amount.prepayment__info__item__amount--price 756 532₽
        .prepayment__info__item.prepayment__info__item
            p.prepayment__info__item__title Оплачено
            p.prepayment__info__item__amount.prepayment__info__item__amount--payment 756 532₽
        .prepayment__info__item.prepayment__info__item
            p.prepayment__info__item__title Задолжность
            p.prepayment__info__item__amount.prepayment__info__item__amount--debt 0₽
    button.prepayment__btn.btn.btn--round Оплатить