.progress.row
    .progress__step.progress__step-completed
        i.icon.icon-success
        p.progress__text Заполнение анкеты
    .progress__step.progress__step-current
        i.icon.icon-success
        p.progress__text Подтверждение заявки
    .progress__step
        i.icon.icon-success
        p.progress__text Предоплата
    .flex-break
    .progress__step
        i.icon.icon-success
        p.progress__text Сбор документов
    .progress__step
        i.icon.icon-success
        p.progress__text Обработка документов 
    .progress__step
        i.icon.icon-success
        p.progress__text Оплата
    .progress__step
        i.icon.icon-success
        p.progress__text Поездка оформлена

