.side__docs.col-lg-4.col-xl-4
    .side__docs__wrap.bg-gray
        .side__docs__img__wrap
            img.side__docs__img.side__docs__img__printer(src="../../img/printer.svg")
        span.side__docs__title Документы для печати
        .side__docs__text 
           p Билеты, ваучеры и прочие документы появляются здесь по мере готовности.
           p Срок выписки документов зависит от компании-туроператора, но, как правило, документы становятся доступны не позднее 24 часов до вылета.
           p Когда полный комплект документов будет сформирован, мы оповести вас по SMS и электронной почте  
    .side__docs__wrap.bg-gray
        .side__docs__title Документы для печати
        .side__docs__doc__wrap
            .side__docs__doc 
                img(src="../../img/pdf.svg")
                a Название_документа.pdf  
            .side__docs__doc 
                img(src="../../img/pdf.svg")
                a Название_документа.pdf 
    .side__docs__wrap.bg-gray
        .side__docs__title Мои документы
        .side__docs__doc__wrap
            span.side__docs__doc__title Михаил Андреевич Онопко
            .side__docs__doc 
                img(src="../../img/pdf.svg")
                a Название_документа.pdf  
            .side__docs__doc 
                img(src="../../img/pdf.svg")
                a Название_документа.pdf 
        .side__docs__doc__wrap
            span.side__docs__doc__title Михаил Андреевич Онопко
            .side__docs__doc 
                img(src="../../img/pdf.svg")
                a Название_документа.pdf  
            .side__docs__doc 
                img(src="../../img/pdf.svg")
                a Название_документа.pdf 