#menu-1.st-menu.sidebar.st-effect-1.sidebar.notds
    .sidebar__top
        .sidebar__close
            i.icon.icon-arrow-left
        a.sidebar__logo(src="#")
            +img('img/logo','png', 'Learning Guru')

    ul.sidebar__list
        li: a(href="/") ГЛАВНАЯ
    hr
    ul.sidebar__list
        li: strong Обучение
        li: a(href="#") Онлайн обучение
        li: a(href="#") Оффлайн обучение
        li: a(href="#") Обучение за рубежом
    hr
    ul.sidebar__list
        li: strong О Lingua Guru
        li: a(href="#") Отзывы
        li: a(href="#") Карьера в Lingua Guru
        li: a(href="#") Реквизиты
    hr
    ul.sidebar__list
        li: strong: a(href="#") Онлайн-платформа
        li: strong: a(href="#") Контакты