.side__toggle
    i.icon.icon-filter

.side.col-lg-4.col-xl-3
    .side__wrap
        span.side__title Я хочу
        form
            .form-group: select.select-style.form-control
                option Учиться
                option Работать
                option Стажироваться
                option Не знаю

            .form-group: select.select-style.form-control
                option Пол
                option Мужской
                option Женский

            .form-group: select.select-style.form-control
                option Страна
                option Россия
                option Казахстан

            .form-group.form-group--hor.d-flex.align-items-center
                span.form-hcap Возраст:
                div(style="max-width: 60px;"): input.form-control(type="text" placeholder="лет")

            .form-group: select.select-style.form-control
                option Язык
                option Английский
                option Французский

            .form-group: select.select-style.form-control
                option Образование
                option Высшее
                option Средне-специальное

            .form-group
                label.form-label Как вы давно закончили обучение
                .radio-style
                    input(type="radio" name="radio" value="1" id="radio_1")
                    label(for="radio_1"): span Менее трёх лет назад
                .radio-style
                    input(type="radio" name="radio" value="2" id="radio_2")
                    label(for="radio_2"): span Более трёх лет назад

            .form-group: select.select-style.form-control
                option Сфера
                option Программирование
                option Языки

            .form-group: select.select-style.form-control
                option Опыт работы
                option Менее 5 лет
                option Более 5 лет

            .form-group.form-group--date
                input.form-control.datepicker(type="text" placeholder="Дата")
                i.icon.icon-calendar

            .form-group: select.select-style.form-control
                option Продолжительность
                option 3 месяца
                option 1 год

            button.side__submit.btn.btn--square.btn--big(type="submit") Показать

    .side__images
        a.side__img(href="#" target="_blank")
            img(src="img/side-image1.jpg")

        a.side__img(href="#" target="_blank")
            img(src="img/side-image2.jpg")