extends ../layout/inner_top_panel

block variables
    - var title = 'Личный кабинет';
    - var description = 'Поиск подходящих школ';

block middle
    .content.col-lg-12.col-xl-12
            .items
                .item.item-bordered.item-hover-green
                    .item__wrap.row
                        .item__imgwrap.col-lg-auto
                            .item__img(style="background-image: url(img/item1.jpg)")

                        .item__desc.col-lg
                            .item__header
                                h2.item__title Название элемента
                                span.item__last Осталось 3 места
                            ul.item__list
                                li Тип: <strong>Работа</strong>
                                li Страна: <strong>Япония</strong>
                                li Язык: <strong>Японский</strong>
                            .item__text
                                p Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...
                            .item__footer
                                .item__tags
                                    .item__tag.bg-gray
                                        i.icon.icon-airplane
                                        span Перелет включен
                                    .item__tag.bg-gray
                                        i.icon.icon-bed
                                        span Проживание включено
                                .item__cost
                                    span Зарплата 100 000$ в год
                                    a.btn.btn--round(href="/vacancy.html") Посмотреть подробнее

                .item.item-bordered.item-hover-green
                    .item__wrap.row
                        .item__imgwrap.col-lg-auto
                            .item__img(style="background-image: url(img/item2.jpg)")

                        .item__desc.col-lg
                            .item__header
                                h2.item__title Название элемента
                                span.item__last Осталось 3 места
                            ul.item__list
                                li Тип: <strong>Высшее образование</strong>
                                li Сфера образования: <strong>Программирование</strong>
                                li Страна: <strong>Великобритания</strong>
                                li Язык: <strong>Английский</strong>
                            .item__text
                                p Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...
                            .item__footer
                                .item__tags
                                    .item__tag.bg-gray
                                        i.icon.icon-airplane
                                        span Перелет включен
                                    .item__tag.bg-gray
                                        i.icon.icon-bed
                                        span Проживание включено
                                .item__cost
                                    span Зарплата 100 000$ в год
                                    a.btn.btn--round(href="/vacancy.html") Посмотреть подробнее

                .item.item-bordered.item-hover-green
                    .item__wrap.row
                        .item__imgwrap.col-lg-auto
                            .item__img(style="background-image: url(img/item1.jpg)")

                        .item__desc.col-lg
                            .item__header
                                h2.item__title Название элемента
                                span.item__last Осталось 3 места
                            ul.item__list
                                li Тип: <strong>Высшее образование</strong>
                                li Сфера образования: <strong>Программирование</strong>
                                li Страна: <strong>Великобритания</strong>
                                li Язык: <strong>Английский</strong>
                            .item__text
                                p Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...
                            .item__footer
                                .item__tags
                                    .item__tag.bg-gray
                                        i.icon.icon-airplane
                                        span Перелет включен
                                    .item__tag.bg-gray
                                        i.icon.icon-bed
                                        span Проживание включено
                                .item__cost
                                    span Зарплата 100 000$ в год
                                    a.btn.btn--round(href="/vacancy.html") Посмотреть подробнее

            a.content__more.btn.btn--big.btn--square.btn--transparent(href="#") Показать еще

    .hide
        #accountData-popup-form.b-popup.pForm
            form.pForm__body.fw.webform(method="post" action="")
                .pForm__header
                span.pForm__title Профиль
                .pForm__img__wrapper
                    .pForm__img.pForm__img--account(style="background-image: url(img/ac_photo.jpg)")
                    .pForm__img__add
                .form-group
                    label.form-input-label 
                        span.form-input-label-txt Ваше имя
                        input.form-control(type="text" name="name")

                .form-group
                    label.form-input-label 
                        span.form-input-label-txt E-mail
                        input.form-control(type="tel" name="phone")

                .form-group
                    label.form-input-label 
                        span.form-input-label-txt Телефон
                        input.form-control(type="mail" name="mail")
                .form-group-wrapper
                    .form-group
                        label.form-input-label 
                            span.form-input-label-txt Старый пароль
                            input.form-control(type="text" name="old_password")

                    .form-group
                        label.form-input-label 
                            span.form-input-label-txt Новый пароль
                            input.form-control(type="text" name="new_password")

                    .form-group
                        label.form-input-label 
                            span.form-input-label-txt Повторите пароль
                            input.form-control(type="text" name="conf_password")

                .form-group
                    button.accauntPanel__submit.btn.btn--square.btn--big(type="submit") Сохранить

