extends ../layout/main

block variables
  - var pageClass = 'home';
  - var title = 'Lingua Guru - центр изучения иностранных языков';
  - var description = 'lingua-guru.ru - центр изучения иностранных языков';