extends ../layout/inner

block variables
    - var title = 'Поиск';
    - var description = 'Поиск подходящих школ';

block middle
    .row
        include ../includes/side

        .content.col-lg-8.col-xl-9
            .crumbs.notds
                ul.breadcrumb
                    li: a(href="#") Главная
                    | &nbsp;/&nbsp;
                    li: a(href="#") Вакансии
                    | &nbsp;/&nbsp;
                    li.active Название вакансии
            p.content__title Название вакансии

            .content__body
                .textstyle
                    .row
                        .vacancy__left.col-lg-6
                            .graybox.d-none.d-lg-block
                                p.color: strong Актуальность: 11.02.2020 - 12.03.2020
                                p Зарплата: #[strong 123 000$/год]
                                p Стоимость программы: #[strong 1 200$]

                            h2 Описание вакансии
                            p Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...

                            h2 Требование от кандидата
                            p Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия
                        .vacancy__right.col-lg-6
                            .graybox.d-lg-none
                                p.color: strong Актуальность: 11.02.2020 - 12.03.2020
                                p Зарплата: #[strong 123 000$/год]
                                p Стоимость программы: #[strong 1 200$]

                            .slider-style.owl-carousel
                                a.fbox(href="#")
                                    img(src="img/slides/vacancy1.jpg")
                                a.fbox(href="#")
                                    img(src="img/slides/vacancy1.jpg")
                                a.fbox(href="#")
                                    img(src="img/slides/vacancy1.jpg")

                            .horbtns
                                a.btn.btn--round.btn--transparent(href="#getwork-popup-form" data-fancybox) Как получить работу
                                a.btn.btn--round(href="#help-popup-form" data-fancybox) Помощь в оформлении

                            .item__tags
                                .item__tag.blue
                                    i.icon.icon-airplane
                                    span Перелет включен
                                .item__tag.green
                                    i.icon.icon-bed
                                    span Проживание включено

                    h2 Дополнительно
                    p Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки.
                    p Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...
            -
                var faq = [
                    {
                        question: "1. Как быстро узнать результат подхожу ли я к данной вакансии?",
                        reply: "Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки.",
                    },{
                        question: "2. Как получить визу в Германию?\n",
                        reply: "Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки.",
                    },{
                        question: "3. Сколь стоят ваши услуги оформления?\n",
                        reply: "Посещаю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки...аю школу почти что год. Хорошо подобраны учебные пособия - упражнения на самые разные навыки...Хорошо подобраны учебные пособия - упражнения на самые разные навыки.",
                        }
                ]

            .faq
                h2.faq__title FAQ

                .faq__wrap.i-acc-parent
                    each item in faq
                        .faq__item
                            .faq__question.i-acc-link= item.question
                                |
                                i.icon.icon-arrow-down
                            .faq__reply.i-acc-hide= item.reply